*{
    box-sizing: border-box;
}

.card{
    width: 14rem;
    margin-right: 12px;
    padding: 10px;
}

.cont{
    display: flex;
    margin: 12px;
}

.imgHeigth{
    width: 250x;
    height: 250px;
}

.tituloFoto {
    max-height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
